@model ExpenseTypesVM
@{
  ViewData["Title"] = "Expense Types";
}

<div class="table-add">
  <a asp-area="" asp-controller="ExpenseTypes" asp-action="Add">Add</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Expense Type</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var exp in Model.ExpenseTypes)
    {
      <tr>
        <td>
          @exp.ExpenseType
        </td>
        <td class="admin-links">
          <a asp-area="" asp-controller="ExpenseTypes" asp-action="Edit" asp-route-id="@exp.Id">Edit</a>
          <a asp-area="" asp-controller="ExpenseTypes" asp-action="Delete" asp-route-id="@exp.Id">Delete</a>
        </td>
      </tr>

    }

  </tbody>
</table>
