@using Microsoft.AspNetCore.Mvc.Rendering;
@model ExpenseVM
@{
  ViewData["Title"] = "Add Expense";
}


<div class="row">
  <div class="col-md-4">
    <section>
      <form method="post">
        <h4>Add an Expense</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="ExpenseTypeId"></label>
          <select asp-for="ExpenseTypeId" class="form-control" asp-items="@Model.ExpenseTypes">
          </select>
          <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ExpenseValue"></label>
          <input asp-for="ExpenseValue" class="form-control" type="number" />
          <span asp-validation-for="ExpenseValue" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ExpenseDate"></label>
          <input asp-for="ExpenseDate" type="date" class="form-control" />
          <span asp-validation-for="ExpenseDate" class="text-danger"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </form>
    </section>
  </div>

</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
