@using Microsoft.AspNetCore.Mvc.Rendering;
@model ExpenseVM
@{
  ViewData["Title"] = "Add Expense";
}


<div class="row">
  <div class="col-md-4">
    <section>
      <form method="post" asp-action="DoAdd">
        <h4>Add an Expense</h4>
        <hr />

        @await Html.PartialAsync("_ExpenseFieldsPartial")

        <div class="form-group">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-error" formaction="BackToIndex">Cancel</button>
        </div>
      </form>
    </section>
  </div>

</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
