@using Microsoft.AspNetCore.Mvc.Rendering
@model ExpensesVM
@{
  ViewData["Title"] = "Expenses Summary";
}

<form method="post" id="control" asp-action="Add">
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-default">Add +</button>
    </div>
  </div>
</form>

<form method="post" asp-action="Filter">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label asp-for="Filter.StartDate"></label>
        <input asp-for="Filter.StartDate" type="date" class="form-control" />
        <span asp-validation-for="Filter.StartDate" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label asp-for="Filter.EndDate"></label>
        <input asp-for="Filter.EndDate" type="date" class="form-control" />
        <span asp-validation-for="Filter.StartDate" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </div>
</form>



@if (Model.Filter?.IsFiltered == true)
{
  @Html.Partial("_GridPartial")
}



@section Scripts {

  @Html.Partial("_GridIncludePartial")

  <environment include="Development">
    <script src="~/js/Expenses/Index.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/js/Expenses/Index.min.js" asp-append-version="true"></script>
  </environment>

}