.container {
  margin-top: 100px;
}

.App {
  margin-top: 60px;
  padding: 20px;
}

.paper {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group .standard-width { 
   margin-right: 1em !important;
}

.form-group .full-width { 
  display: block !important;
}

.form-section {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
}

.removable-list-item span {
  width: 200px;
}