@using CJ.Exp.Admin.Controllers
@using ControllerBase = CJ.Exp.Admin.Controllers.ControllerBase

@{
  Layout = "_Layout";
  var message = (ControllerBase.ControllerMessage)ViewData["controllerMessage"];
}

@if (message != null)
{
  <p class="@(message.ControllerMessageType == ControllerMessageType.Success ? "success" : "error")">@message.Message</p>
}
