<page-header pageTitle="Login"></page-header>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <mat-error *ngIf="submitted && f.username.errors">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <mat-error *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </mat-error>
    </mat-form-field>

    
    <button mat-raised-button color="primary" [disabled]="loading">
        Login
        <div class="button-spinner">
            <mat-progress-spinner *ngIf="loading" class="button-spinner" color="accent" mode='indeterminate' diameter="20"></mat-progress-spinner>
        </div>        
    </button>
    
        
    
 
</form> 