
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cj-exp-angular-primary: mat-palette($mat-indigo);
$cj-exp-angular-accent: mat-palette($mat-blue, A200, A100, A400);
$font-color-default: #ffffff;
$snack-success-background: rgb(0, 185, 9);
$snack-error-background: rgb(204, 14, 52);

// The warn palette is optional (defaults to red).
$cj-exp-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cj-exp-angular-theme: mat-dark-theme($cj-exp-angular-primary, $cj-exp-angular-accent, $cj-exp-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cj-exp-angular-theme);

@mixin snack-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    
    .mat-snack-bar-container.snack-success {
        background-color: $snack-success-background !important;
        color: $font-color-default;
    }
    .mat-snack-bar-container.snack-error {
        background-color: $snack-error-background !important;
        color: $font-color-default;
    }
    //Added with panelClass property
    .snack-error {
        button {
            color: $font-color-default
        }
    }
    //Added with panelClass property
    .snack-success {
        button {
            color: $font-color-default
        }
    }
}

@include snack-theme($cj-exp-angular-theme);