<div id="jsGrid"></div>
<form id="grid-form" method="post">
  <input type="hidden" name="editValue" id="editValue" value=""/>
  <input type="hidden" name="currentPage" id="currentPage" value=""/>
</form>